
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.flex-container > div {
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.forum-page{
  width: 100%
}
.example-card {
  max-width: 800px;
  min-width:800px;
  margin:10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.example-header-image {
  background-image: url('https://cdn.anisearch.de/images/character/cover/39/39087_300.webp');
  background-size: cover;
}
b{
  font-size:150%
}
img{
  width: 24px;
  height: 24px;
}
.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.search-field {
  width:100%;
  margin-right: 10px;

}
.field{
  margin-right: 0;
  margin-bottom:-25px;

  height: 100%;
}
#divupper{
  width: 100%;
}
.example-button-row {
  display: table-cell;
  max-width: 600px;
  position: relative; /* make the div position relative */
  left: 350px; /* move the div 50 pixels to the right */
  top: 0px; /* move the div 20 pixels down */}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
#posts{
  display: flex;
  justify-content: center;
  widht:100%;

}
#allposts{
  display: flex;
  justify-content: center;
  widht:100%;
}
.toolButton{
  color: #EDDD5E;
}
.hover-image:hover {
  opacity: 0.8; /* reduce opacity on hover */
  cursor: pointer; /* change cursor to pointer on hover */
}
.hover-image {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 20px; /* adjust this value to change the radius */
  position: relative; /* make the div position relative */
  left: 0px; /* move the div 50 pixels to the right */
  top: 100px;


}

.search-form form {
  width:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.search-form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.search-form button {
  background-color: #ffffff;
  border: none;
  color: #888888;
  padding: 10px 20px;
  margin-left: -40px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-form button:hover {
  background-color: #f3f3f3;
  color: #555555;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group button {
  margin: 0 10px;
}


.search-form .field {
  width: 700px;
  border-radius: 5px;
}
.users-div{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  padding: 10px;
}




