$table-header-bg-color:  #4040bf;
$table-header-color: white;
$table-even-row-color: #f2f2f2;
$table-odd-row-color: #ffffff;
:host ::ng-deep{
  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      text-align: center;
      padding: 12px;
      border: 1px solid #ddd;
    }

    th {
      background-color: $table-header-bg-color;
      color: $table-header-color;
    }

    .tabcontent tr:nth-child(even) {
      background-color: $table-even-row-color;
    }

    .tabcontent tr:nth-child(odd) {
      background-color: $table-odd-row-color;
    }
  }
}
button {

  display: inline-block;
  padding: 10px 20px;
  font-size: 17px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #0062cc;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
    background-color: #005cbf;
  }
}
