$table-header-bg-color:  #4040bf;
$table-header-color: white;
$table-even-row-color: #f2f2f2;
$table-odd-row-color: #ffffff;
:host ::ng-deep{
  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      text-align: center;
      padding: 12px;
      border: 2px solid white;
      border-bottom: 3px solid #ddd;
    }

    th {
      background-color: #5d5d91;
      color: white;
      font-size : 18px ;
    }
    td
    {
      font-size: 15px;
    }
    .tabcontent tr:nth-child(even) {
      background-color: $table-even-row-color;
    }

    .tabcontent tr:nth-child(odd) {
      background-color: $table-odd-row-color;
    }
  }
}
.title {
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}
.save {
  background: lightgray;
  font-size: 20px;
  font-family: auto;
  /* display: block; */
  margin-left: 170%;
  /* position: absolute; */
  border: aliceblue;
  margin-top : 10px ;
}

.modal {
  background-color: #4040bf;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-close {
  background-color: gray;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
