<div class="card">
  <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" >
      <tr *ngFor="let user of users">
<!--        hedha code thot les attributs li thb tdhaharhom fi tableau-->
<!--        <td>{{ user.firstname }}</td>-->
<!--        <td>{{ user.lastname }}</td>-->
<!--        <td>{{ user.email }}</td>-->
<!--        etc...-->
<!--      </tr>-->
    </ng-template>
  </p-table>
</div>
