<app-user-navbar></app-user-navbar>
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center py-5">
    <h1 class="display-3 text-white mb-4 animated slideInDown">Your Order Details</h1>
  </div>
</div>
<!-- Page Header End -->
<section class="h-100 gradient-custom">
  <div class="container py-5 h-100"  *ngIf="data" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">

          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;"></span></h5>
          </div>
<!--          card body-->
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0" style="color: #007F4F;font-weight: bolder;font-size: 25px">Order Details</p>
            </div>
<!--                start product row-->
            <div class="card shadow-0 border mb-4" *ngFor="let product of data.products ; let  i = index">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/13.webp"
                         class="img-fluid" alt="Phone">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0" style="font-size: 20px">Name: {{product.name}}</p>
                  </div>

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small" style="font-size: 20px">Qty: {{data.amounts.at(i)}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small" style="font-size: 20px">Total: {{data.totals.at(i)}}$</p>
                  </div>
                </div>
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                <div class="row d-flex align-items-center">
                  <div class="col-md-2">
                    <p class="text-muted mb-0 small">Availability : </p>
                  </div>
                  <div class="col-md-10">
                    <p-tag   styleClass="availability-supply" *ngIf="!isToBeSupplied(product.idProduct)" severity="success" value="Product is Available In Our Nearest Deposit With the Desired Quantity"></p-tag>
                    <p-tag  styleClass="availability-supply" *ngIf="isToBeSupplied(product.idProduct)" severity="info" value="Product is Not Currently In Deposit,You Will Have To Wait for Us To Re-supply"></p-tag>

                  </div>
                </div>
              </div>
            </div>
<!--            end product row -->
          </div>

<!--          config-->
          <div  class="containerConfig config-custom card-footer border-0 px-4 py-5"  style="background-color: #ffffff;"  >


            <p class="config-custom lead fw-normal mb-0" style="color: #007F4F;font-weight: bolder;font-size: 25px;" > Choose A Payment Method </p>
            <div class="radiobuttoncustom config-custom">

              <div class=" flex align-items-center" >
                <p-radioButton name="pizza" value="Credit Card" [(ngModel)]="method" id="ingredient1" ></p-radioButton>
                <label for="ingredient1" class="ml-2">Credit Card</label>
              </div>

              <div class=" flex align-items-center">
                <p-radioButton name="pizza" value="Cash" [(ngModel)]="method" id="ingredient2" style="margin-left: 50px"></p-radioButton>
                <label for="ingredient2" class="ml-2">Cash</label>
              </div>
            </div>

            <div class="config-custom  ">
              <p-button  styleClass="redbuttonconfig" label="Cancel Order" (click)="cancel()"></p-button>
              <p-button styleClass="pbuttoncustom " label="Create Order" (click)="next()"></p-button>
            </div>

          </div>
<!--            end config-->
          <!--          footer-->
          <div class="card-footer border-0 px-4 py-5"
               style="background-color: #007F4F; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total:
              <span class="h2 mb-0 ms-2 text-white"  >${{data.total}}</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
<br><br><br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>







<app-footer-front></app-footer-front>
